{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstores Skopje</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"
            integrity="sha512-53CQcu9ciJDlqhK7UD8dZZ+TF2PFGZrOngEYM/8qucuQba+a+BXOIRsp9PoMNJI3ZeLMVNIxIfZLbG/CdHI5PA=="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stores/css/dark-mode.css' %}">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="{% static 'stores/css/page-style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static 'stores/img/logo.png' %}" height="70"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline">
        <input class="form-control form-control-sm mr-3 w-55" id="field" type="text" placeholder="Search by Name"
               aria-label="Search">
        <a id="ikona" href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
        <button class="btn btn-secondary" type="button" onclick="search()">Find</button>
        <button class="btn btn-secondary" onclick="findNearest()" type="button">Find Nearest</button>
    </form>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="bookstoresskopje@gmail.com">
                    Contact
                </button>
            </a>
            <a class="nav-item nav-link" href="#">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="Bookstore Skopje, е совршена апликација за љубителите на книги која брзо и едноставно ги прикажува сите книжари кои се наоѓаат во околината на корисникот.">
                    About
                </button>
            </a>
            <a class="nav-item nav-link" href="#">
                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                        title="За технички проблеми обратете се на следниот E-mail: bookstoresskopje@gmail.com">
                    Help
                </button>
            </a>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
        <script src="{% static 'stores/js/dark-mode.js' %}"></script>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div id="mapid">
            </div>
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                })
{% comment %}
                var mymap = L.map('mapid').setView([41.9981, 21.4254], 13);
                var myposition = null;
                var positions = [];
                var staticPositions=[];
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 18,
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoidGVkZHRzeCIsImEiOiJja2ljN3Q0ejkxNzIzMnlyc2ZrdWptbGFwIn0.UY5NhACafHt0n377fhB91Q'
                }).addTo(mymap);

                {% for store in stores %}


                    var marker = L.marker([{{ store.lat }}, {{ store.long }}]).addTo(mymap);
                    marker.bindPopup("<b>{{store.name}}</b><br>{{store.address}}").openPopup();
                    positions.push({
                        lat:{{ store.lat }},
                        long:{{ store.long }},
                        name: "{{ store.name }}",
                        address: "{{ store.address }}"
                    });

                {% endfor %}

                staticPositions=positions;
                function distance(lat1, lon1, lat2, lon2, unit) {
                    var radlat1 = Math.PI * lat1 / 180
                    var radlat2 = Math.PI * lat2 / 180
                    var theta = lon1 - lon2
                    var radtheta = Math.PI * theta / 180
                    var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                    if (dist > 1) {
                        dist = 1;
                    }
                    dist = Math.acos(dist)
                    dist = dist * 180 / Math.PI
                    dist = dist * 60 * 1.1515
                    if (unit == "K") {
                        dist = dist * 1.609344
                    }
                    if (unit == "N") {
                        dist = dist * 0.8684
                    }
                    return dist
                }

                function showPosition() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
                            console.log(positionInfo);
                            myposition = {
                                lat: position.coords.latitude,
                                long: position.coords.longitude
                            };
                            var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(mymap);
                            marker.bindPopup("<b>Your Current location</b>").openPopup();
                        });
                    } else {
                        alert("Sorry, your browser does not support HTML5 geolocation.");
                    }
                }

                showPosition();

                function findNearest() {
                    let index = 0;
                    let mindistance = distance(myposition.lat, myposition.long, positions[0].lat, positions[0].long, "K");
                    for (let i = 0; i < positions.length; i++) {
                        if (distance(myposition.lat, myposition.long, positions[i].lat, positions[i].long, "K") < mindistance) {
                            index = i;
                            mindistance = distance(myposition.lat, myposition.long, positions[i].lat, positions[i].long, "K");
                        }
                    }
                    var latLon = L.latLng(positions[index].lat, positions[index].long);
                    var bounds = latLon.toBounds(500); // 500 = metres
                    mymap.setView(latLon).fitBounds(bounds);
                }

                function search() {
                    positions=staticPositions;
                    let query = document.getElementById('field').value;
                    if (query === "") {
                        return;
                    }
                    let newpos = [];
                    console.log(positions);
                    for (let i = 0; i < positions.length; i++) {
                        console.log(positions[i].name);
                        console.log(query);
                        if (positions[i].name.toLowerCase().includes(query.toLowerCase())) {
                            newpos.push(positions[i]);
                        }
                    }
                    console.log(newpos);
                    positions = newpos;
                    mymap.eachLayer(function (layer) {
                        mymap.removeLayer(layer);
                    });
                    showPosition();
                    // var mymap = L.map('mapid').setView([41.9981, 21.4254], 13);
                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        tileSize: 512,
                        zoomOffset: -1,
                        accessToken: 'pk.eyJ1IjoidGVkZHRzeCIsImEiOiJja2ljN3Q0ejkxNzIzMnlyc2ZrdWptbGFwIn0.UY5NhACafHt0n377fhB91Q'
                    }).addTo(mymap);
                    for (let i = 0; i < positions.length; i++) {
                        var marker = L.marker([positions[i].lat, positions[i].long]).addTo(mymap);
                        marker.bindPopup("<b>" + positions[i].name + "</b><br>" + positions[i].address).openPopup();
                    }
                }{% endcomment %}
            </script>
        </div>
        <div class="col-3">
            <div class="overflow-auto">
                <ul>
                    {% for store in stores %}
                        <li>{{ store.id }}, {{ store.address }}, {{ store.municipality }}, {{ store.name }},
                            {{ store.number }}, {{ store.lat }}, {{ store.long }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> Bookstores Skopje</a>
    </div>
    <!-- Copyright -->

</footer>
<script src="{% static "stores/js/page-functions.js" %}"></script>
<!-- Footer -->
</body>
</html>