footer {
    padding: 30px 0;
    background-color: #969696 !important;

}

.navbar {

    background-color: #969696 !important;
}

.bg-light {
    background-color: #969696 !important;
}

.navbar-nav {
    margin-left: auto;
}

#ikona {
    color: #232323;
    margin-right: 10px;
}

#mapid {
    height: calc(100vh - (116px + 86px));
    padding: 0 !important;

}

form button {
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
}

form {
    margin-left: 10px;
    width: 650px;
}

.col-9 {
    padding: 0 !important;
}

html {
    overflow-y: hidden;
}

.col-3 {
    height: calc(100vh - (116px + 86px));
    overflow: auto;
}

li {
    font-family: Consolas, monospace;
    font-size: 0.89em;
}